@model InventoryManagement.Models.PurchaseDto


<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Purchase Add</h4>
                <h6>Add/Update Purchase</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Supplier Name</label>
                            <div class="row">
                                <div class="col-lg-10 col-sm-10 col-10">
                                    <input type="text" class="form-control" asp-for="SuplierName" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bill No</label>
                            <div class="row">
                                <div class="col-lg-10 col-sm-10 col-10">
                                    <input type="text" class="form-control" asp-for="BillNo" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bill No</label>
                            <div class="row">
                                <div class="col-lg-10 col-sm-10 col-10">
                                    <input type="text" class="form-control" asp-for="BillDeatils" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Purchase Date </label>
                            <div class="input-groupicon">
                                <input type="text" placeholder="DD-MM-YYYY" class="datetimepicker" asp-for="PurchaseDate">
                                <div class="addonset">
                                    <img src="~/assets/img/icons/calendars.svg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Mobile No.</label>
                            <input type="text" asp-for="MobileNo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>QTY</th>
                                    <th>Purchase Price</th>
                                    <th>Total Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>

                                        <input type="text" id="itemname_0" name="itemname_0" />
                                    </td>
                                    <td> <input type="number" id="qunatity_0" name="qunatity_0" /></td>
                                    <td> <input type="number" id="purchaseprince_0" name="purchaseprince_0" /></td>
                                    <td><input type="number" id="TotalCost_0" name="TotalCost_0" /></td>


                                    <td>

                                        <a class="delete-set"><img src="~/assets/img/icons/delete.svg" alt="svg"></a>
                                        <a href="javascript: void(0);" style="color:green;font-size:20px" onclick="AddTableRow(this)"><i class="fa fa-plus"></i></a>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 float-md-right">
                        <div class="total-order">
                            <ul>
                               
                                <li>
                                    <h4>Discount</h4>
                                    <h5>$ 0.00</h5>
                                </li>
                               
                                <li class="total">
                                    <h4>Grand Total</h4>
                                    <h5>$ 0.00</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <a href="javascript:void(0);" class="btn btn-submit me-2">Submit</a>
                        <a href="purchaselist.html" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AddTableRow(obj) { 
        alert();
    
    }
</script>